button {
  border: 2px solid currentColor;
  transition-property: background-color, border-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;

  &:hover,
  &:focus,
  .offsite-is-open button {
    border-color: var(--text-color);
    background-color: var(--text-color);
    color: var(--background-color);
  }
}
